<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}

        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}


        <!-- Mobile viewport optimized: j.mp/bplateviewport -->
        <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">

        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/gumby.css" />

        <script src="{{ SITEURL }}/theme/js/libs/modernizr-2.6.2.min.js"></script>
        {% if ENABLE_MATHJAX %}
        <script type="text/javascript"
                src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        {% endif %}

        {% if GOOGLE_ANALYTICS %}
            <script type="text/javascript">

              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS }}']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

            </script>
        {% endif %}
      {% endblock head %}
</head>

<body id="index" class="home">
  <div id="navigation" class="navbar">
    <a href="#" gumby-trigger="#navigation &gt; ul" class="toggle"><i class="icon-menu"></i></a>
    <span id="navbar-title"><a href="{{ SITEURL }}"> {{ SITENAME }} </a></span>
    <ul id="navbar-items">
      {% if ARCHIVES_URL %}
        <li {% if output_file == ARCHIVES_SAVE_AS %} class="active"{% endif %}><a href="{{ ARCHIVES_URL }}">Archive</a></li>
      {% endif %}
      {% if TAGS_URL %}
        <li {% if output_file == TAGS_SAVE_AS %} class="active"{% endif %}><a href="{{ TAGS_URL }}">Tags</a></li>
      {% endif %}
      {% for title, link in MENUITEMS %}
          <li><a href="{{ link }}">{{ title }}</a></li>
      {% endfor %}
      {% if DISPLAY_PAGES_ON_MENU %}
        {% for p in PAGES %}
          <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
        {% endfor %}
      {% endif %}      
      {% if DISPLAY_CATEGORIES_ON_MENU %}
        {% for cat, null in categories %}
          <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
        {% endfor %}
      {% endif %}
      {% if FEED_ALL_ATOM %}
        <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">Feed</a></li>
      {% elif FEED_ALL_RSS %}
        <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}">Feed</a></li>
      {% elif FEED_ATOM %}
        <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}">Feed</a></li>
      {% elif FEED_RSS %}
        <li><a href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}">Feed</a></li>
      {% endif %}
    </ul>
  </div>

  <div id="content-container" class="container">
    {% block content %}

    {% endblock %}
  </div>


   <div id="page-footer-container">

    <footer id="page-footer" class="row">
      <div class="six columns">
               <address id="about" class="vcard body">
                  Copyright © {{ AUTHOR }} {{ articles[0].date.year }} 
                  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
                    <img id="license-image-80x15" alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" />
                  </a>
                  <br />
                  Proudly powered by <a href="http://getpelican.com/">Pelican</a> and the <a target="_blank" href="http://gumbyframework.com">Gumby Framework</a>.
              </address>
      </div>

      <div class="six columns">
        <div class="row">
          <ul id="socbtns">

            {% if GITHUB_URL %}
            <li><div class="btn primary"><a href="{{ GITHUB_URL }}" target="_blank">Github</a></div></li>
            {% endif %}

            {% if TWITTER_URL %}
            <li><div class="btn twitter"><a href="{{ TWITTER_URL }}" target="_blank">Twitter</a></div></li>
            {% endif %}

            {% if FACEBOOK_URL %}
            <li><div class="btn facebook"><a href="{{ FACEBOOK_URL }}" target="_blank">Facebook</a></div></li>
            {% endif %}

            {% if GOOGLEPLUS_URL %}
            <li><div class="btn danger"><a href="{{ GOOGLEPLUS_URL }}" target="_blank">Google+</a></div></li>
            {% endif %}

            {% if WEIBO_URL %}
            <li><div class="btn weibo"><a href="{{ WEIBO_URL }}" target="_blank">Weibo</a></div></li>
            {% endif %}

            {% if DOUBAN_URL %}
            <li><div class="btn douban"><a href="{{ DOUBAN_URL }}" target="_blank">Douban</a></div></li>
            {% endif %}

          </ul>
        </div>
      </div>
    </footer>

    </div>


  {% include 'disqus_script.html' %}

  <!-- Grab Google CDN's jQuery, fall back to local if offline -->
  <!-- 2.0 for modern browsers, 1.10 for .oldie -->
  <script>
    var oldieCheck = Boolean(document.getElementsByTagName('html')[0].className.match(/\soldie\s/g));
    if(!oldieCheck) {
    document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"><\/script>');
    } else {
    document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"><\/script>');
    }
  </script>
  <script>
    if(!window.jQuery) {
    if(!oldieCheck) {
      document.write('<script src="/bower_components/gumby/js/libs/jquery-2.0.2.min.js"><\/script>');
    } else {
      document.write('<script src="/bower_components/gumby/js/libs/jquery-1.10.1.min.js"><\/script>');
    }
    }
  </script>

  <script src="{{ SITEURL }}/theme/js/libs/gumby.min.js"></script>
  <script src="{{ SITEURL }}/theme/js/plugins.js"></script>

  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
   chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
  <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
  <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
