{% extends "base.html" %}
{% block content %}
<section id="content">
	{% block content_title %}
	{% endblock %}

    <ol id="post-list">
	{% for article in articles_page.object_list %}
    <li><article class="hentry">
        <header class="post-header">			                	
        	<div>
        		<time datetime="{{ article.date.isoformat() }}">
        			{{ article.locale_date }}
    			</time>
        	</div>
        	<h2 class="entry-title">
        		<a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark">
        			{{ article.title }}
    			</a>
			</h2>
			<div class="tag-row">
				{% if article.tags %}
					<span class="tag-row-icon"><i class="icon-tag"></i></span>
					{% for tag in article.tags %}
						<span class="small default oval btn">
							<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag|e }}</a>
						</span>
					{% endfor %}
				{% endif %}
			</div>
    	</header>

        <div class="post-content">
        	{{ article.summary }}
    	</div>

		<div class="medium primary medium btn">
			<a 	href="{{ SITEURL }}/{{ article.url }}"
				rel="bookmark">
				Read more <i class="icon-arrow-right"></i>
			</a>
		</div>

    </article></li>
	{% endfor %}
	</ol><!-- /#posts-list -->

{% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
